body {
	background-color: #fafafa;
}

body .container {
	background-color: #ffffff;
	padding-top: 20px;
}

#header {
	background-color: #41b6c4;
	color: white;
}

#results-table .btn {
	margin: 4px;
}

#results-table > tbody > tr > td {
	white-space: normal;
}

dl.researchDetails dt {
	width: 70px;
	color: #a7a7a7;
	font-size: small;
}

dl.researchDetails dd {
	margin-left: 110px;
}