body {
	background-color: #e0f2f1;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body .container {
	padding-top: 20px;
}

#page-container {
	background-color: #ffffff;
}

#header {
	background-color: #009688;
	color: #ffffff;
}

#header a {
	color: #e2f1af;
}

#results-table .btn {
	margin: 4px;
	background-color: #5bc4bd;
	border-color: #009688;;
}

#results-table > tbody > tr > td {
	white-space: normal;
}

dl.researchDetails dt {
	width: 70px;
	color: #a7a7a7;
	font-size: small;
}

dl.researchDetails dd {
	margin-left: 90px;
}